.container {
    grid-template: 1fr / 0 300px 1fr 0;
}

aside {
    grid-area: 1 / 2 / 2 / 2;
}

main {
    grid-area: 1 / 3 / 2 / -2;
}

.section-soft-skills ul {
    columns: 2;
}

.projeto {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
}

.projeto-img {
    width: 30%;
    height: 200px;
    object-fit: cover;
    margin: 0 0 0 10px;
    align-self: center;
}

footer p {
    font-size: var(--texto-tamanho);
}