@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.container {
    display: grid;
    height: 100%;
    grid-template: 1fr 1fr / 0 1fr 0;
    gap: 15px;
}

header, main, aside, footer {
    border: 1px solid rgb(138, 138, 138);
}

header {
    width: 100%;
    margin-bottom: 15px;
    background-color: grey;
}

header nav {
    padding: 15px;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

header a {
    display: block;
    width: 30px;
    height: 30px;
    background-size: contain;
}

header a:hover {
    transform: scale(120%);
}

header a:active {
    transform: scale(90%);
}

a#inicio-btn {
    background-image: url(../icones/inicio.png);
}

a#soft-skills-btn {
    background-image: url(../icones/soft-skills.png);
}

a#hard-skills-btn {
    background-image: url(../icones/hard-skills.png);
}

a#projetos-btn {
    background-image: url(../icones/projetos.png);
}

a#tema-btn {
    background-image: url(../icones/tema-escuro.png);
}

main {
    grid-area: 2 / 2;
}

aside {
    grid-area: 1 / 2;
}

footer {
    width: 100%;
    margin-top: 15px;
}

