@charset "UTF-8";


:root {
    --fonte-geral: Arial, Verdana, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(circle, black, #595858);
    font-family: var(--fonte-geral);
    overflow: hidden;
}

main {
    display: flex;
}

section#celular {
    width: 90vw;
    height: 100vh;
}

#celular iframe {
    width: 360px;
    height: 640px;
    display: block;
    margin: auto;   
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

aside#botoes {
    width: 10vw;
    height: 100vh;
}

aside#botoes a {
    margin: 30px auto 0 auto;
    display: block;
    width: 70px;
    height: 70px;
    background-size: contain;
}

aside#botoes a:hover {
    transform: scale(1.1);
}

#inicio {
    background-image: url(../icones/home-btn.png);
}

#youtube {
    background-image: url(../icones/yt-btn.png);
}

#github {
    background-image: url(../icones/github-btn.png);
}

#instagram {
    background-image: url(../icones/ig-btn.png);
}

#x {
    background-image: url(../icones/x-btn.png);
}

#facebook {
    background-image: url(../icones/fb-btn.png
    );
}