@charset "UTF-8";


:root {
    --fonte-geral: Arial, Verdana, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    font-family: var(--fonte-geral);
    
}

main {
    display: flex;
}

section#celular {
    width: 90vw;
    height: 100vh;
    background-color: azure;

}

#celular iframe {
    width: 360px;
    height: 640px;
    display: block;
    margin: auto;
    
    background-color: rgba(0, 128, 0, 0.414);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

aside#botoes {
    width: 10vw;
    height: 100vh;
    background-color: aquamarine;
}