@charset "UTF-8";

/* Geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: grey;
    color: white;
}

    header h1 {
        font-size: 3em;
        padding: 10px;
        text-align: center;
    }

    header p {
        text-align: center;
        font-size: 1.5em;
        padding-bottom: 10px;
    }

    header #menu-burger {
        background-color: rgb(79, 79, 79);
        color: white;
        width: 100%;
        text-align: center;
        padding: 5px;
    }

    #menu-burger:hover {
        background-color: rgb(57, 56, 56);
        cursor: pointer;
    }

    header ul {
        display: none;
        list-style-type: none;
    }

    header li > a {
        display: block;
        margin: 0 auto;
        padding: 5px;
        text-decoration: none;
        text-align: center;
        color: white;
    }

    header li:hover {
        background-color: rgb(149, 148, 148);
    }

main {
    background-color: rgb(229, 229, 229);
}

    main article {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
    }

    main article p {
        padding: 10px 0 0 0;
        text-align: justify;
    }